// ===============================================
//  Brand Colors
// ===============================================
$brand-main: #1db496;
$brand-light: #f2fdfb;
$brand-background: #1388700d;
$brand-green-37: #1aa287;

// ===============================================
//  Neutral Colors
// ===============================================
$black: #000000;
$white: #ffffff;

// ===============================================
//  States / Backgrounds
// ===============================================
$state-bg: #f6f6f7;
$state-error: #d92d20;

// ===============================================
//  Grays / Monochrome
// ===============================================

$mono-gray-1: #8b92a0;
$mono-gray-2: #cccccc;
$mono-gray-3: #e5e5e5;
$mono-gray-4: #f8f8f8;
$mono-dark: #26292d;

// ===============================================
//  Spacing Scale
// ===============================================
$size-xxs: 4px;
$size-xs: 8px;
$size-s: 12px;
$size-m: 16px;
$size-l: 24px;
$size-xl: 32px;
$size-xxl: 56px;
$size-xxxl: 72px;

// ===============================================
//  border-radiuses
// ===============================================
$radius-xxs: 4px;
$radius-xs: 8px;
$radius-s: 12px;
$radius-m: 16px;
$radius-l: 24px;

// ===============================================
//  Font Sizes
// ===============================================

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 18px;
$font-size-xl: 20px;

// ===============================================
// Shadows
// ===============================================

$shadow-button-default: 0px 0px 12px 0px #00000014;
$shadow-dropdown-menu: 0px 0px 12px -3px #262f4038;
$shadow-card: 0px 2px 4px 0px #00000012;
