@use 'variables' as *;
.completion {
  max-width: 520px;
  margin: 4rem auto;
  padding: $size-xxl $size-xxxl;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: $radius-xs;
}

.completion__illustration {
  font-size: 3rem;
}

.completion__subtitle {
  margin: 0;
  color: $mono-gray-1;
}

.completion__header {
  display: flex;
  flex-direction: column;
  gap: $size-m;
  h2 {
    font-size: 24px;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.completion__table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $size-xs;

  header {
    font-weight: 600;
    align-self: flex-start;
  }
}

.completion__row {
  display: flex;
  justify-content: space-between;
  padding: $size-xs 0;
  border-bottom: 1px solid $mono-gray-4;
  font-size: $font-size-m;

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.completion__value--muted {
  color: $mono-gray-2;
  font-style: italic;
}

.completion app-button {
  align-self: center;
}
