@use 'variables' as *;
.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $size-xxs $size-s;
  border-radius: $radius-l;
  font-size: $font-size-m;
  font-weight: 500;
  border: 1px solid $mono-gray-3;
  background: $white;
  transition: all 0.2s ease;
  height: 42px;
  cursor: pointer;

  &__content {
    white-space: nowrap;
  }

  &--active {
    border-color: $brand-main;
    color: $brand-main;
    background: $brand-light;
    height: 32px;
  }

  &--disabled {
    opacity: 0.5;
  }
}
